<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/utentes-ui/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/utentes-ui/login.css" />
    <link rel="stylesheet" type="text/css" href="/static/utentes-ui/base.css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">{{title}}</h2>
        <small>'admin', 'administrativo', 'financieiro', 'secretaria', 'tecnico', 'juridico'</small>
        <input name="user" type="text" class="form-control" placeholder="Nombre">
        <input name="passwd" type="password" class="form-control" placeholder="Contrase&ntilde;a">
        <input type="submit" name="submit" value="Entrar" class="btn btn-large btn-primary">
      </form>

    </div>

    <script src="/static/utentes-ui/lib/jquery/jquery-1.12.0.min.js"></script>
    <script src="/static/utentes-ui/lib/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
